
*.png
.ipynb_checkpoints/england_covid_heatmaps-checkpoint.ipynb
.ipynb_checkpoints/ltla_covid_heatmaps-checkpoint.ipynb
.ipynb_checkpoints/uk_covid_heatmaps-checkpoint.ipynb
.DS_Store
.ipynb_checkpoints/Untitled-checkpoint.ipynb
testing_capacity.R
Untitled.ipynb
